<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="csrf-token" th:content="${_csrf.getToken()}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU"
          crossorigin="anonymous">
    <link rel="stylesheet" href="/css/drop-area.css">
    <script src="https://kit.fontawesome.com/9002068d0d.js" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"
            integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/markdown-it/12.2.0/markdown-it.min.js"
            integrity="sha512-cTQeM/op796Fp1ZUxfech8gSMLT/HvrXMkRGdGZGQnbwuq/obG0UtcL04eByVa99qJik7WlnlQOr5/Fw5B36aw=="
            crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <title th:text="${action.equals('create')}?'Add task':'Update task'">Add task</title>
</head>
<body>
<style>
    ::-webkit-scrollbar{
        width: 0;
    }
    #tags-input::-webkit-calendar-picker-indicator{
        display: none !important;
    }
</style>
<nav class="navbar navbar-expand-lg sticky-top navbar-light" style="background-color: orangered">
    <div class="container-fluid">
        <a class="navbar-brand" th:href="@{/}">MathTasks</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse justify-content-between" id="navbarSupportedContent">
            <form th:method="get" th:action="@{/search}" class="d-flex my-2">
                <input class="form-control me-2" type="search" placeholder="Search" name="search"
                       aria-label="Search" autocomplete="off">
                <input class="btn btn-outline-dark" type="submit" value="Search"/>
            </form>
            <div sec:authorize="!isAuthenticated">
                <button type="button" class="btn btn-outline-dark my-2" data-bs-toggle="modal" data-bs-target="#loginModal">
                    Log in
                </button>
            </div>
            <div sec:authorize="isAuthenticated" class="nav-item dropdown">
                <a class="btn btn-outline-dark dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-expanded="false" th:text="${username}"></a>
                <ul class="dropdown-menu">
                    <li sec:authorize="hasRole('ADMIN')"><a class="dropdown-item" th:href="@{/admin}">Profile</a></li>
                    <li sec:authorize="hasRole('USER')"><a class="dropdown-item" th:href="@{/user}">Profile</a></li>
                    <li><hr class="dropdown-divider"></li>
                    <li><a class="dropdown-item" onclick="logout()" href="#">Log out</a></li>
                </ul>
            </div>
        </div>
    </div>
</nav>
<form th:method="post"
      th:action="@{/task/{id}(id=${action.equals('update')?task.id:''})}"
      enctype="multipart/form-data" id="add_task">
    <input type="hidden" name="user_id" th:value="${userId}">
    <div class="container-fluid">
        <div class="row justify-content-center">
            <div class="col-lg-6 my-lg-0">
                <div class="row mt-lg-5">
                    <div class="col">
                        <select class="form-select border-dark" form="add_task" id="theme" name="theme">
                            <option th:each="theme:${themes}" th:text="${theme.name}"
                                    th:value="${theme.id}"
                                    th:selected="${action.equals('update')?theme.id==task.theme.id:false}">option</option>
                        </select>
                    </div>
                </div>
                <div class="row my-lg-2">
                    <div class="col">
                        <input class="form-control border-dark" type="text" autocomplete="off"
                               name="name" placeholder="Task name" th:value="${action.equals('update')?task.name:''}">
                    </div>
                </div>
                <div class="row my-lg-2">
                    <div class="col-lg-11">
                        <input list="tags" type="text" class="form-control border-dark"
                               id="tags-input" placeholder="#Tags" autocomplete="off">
                        <datalist id="tags"></datalist>
                        <input type="hidden" id="tags-hidden" name="tags">
                    </div>
                    <div class="col-lg-1 ps-lg-2">
                        <input type="button" class="btn btn-dark" id="btn-tag" value="+">
                    </div>
                </div>
                <div class="row my-lg-2 px-lg-2" id="tags-box">
                    <div class="btn btn-dark btn-sm col-lg-auto mx-lg-1"
                    th:each="tag:${tags}" th:text="${tag.name}"></div>
                </div>
                <div class="row my-lg-2">
                    <div class="col answer-box">
                        <div class="row">
                            <div class="col">
                                <textarea class="form-control border-dark answers" rows="3"
                                          th:text="${action.equals('update')?answers.get(0).content:''}"
                                          name="answer1" placeholder="Answer" style="resize: none"></textarea>
                            </div>
                        </div>
                        <div class="row my-lg-2" th:if="${action.equals('update')&&answers.size()>=2}">
                            <div class="col">
                                <textarea class="form-control border-dark answers" rows="3" th:text="${answers.get(1).content}"
                                          name="answer2" placeholder="Answer" style="resize: none"></textarea>
                            </div>
                        </div>
                        <div class="row my-lg-2" th:if="${action.equals('update')&&answers.size()==3}">
                            <div class="col">
                                <textarea class="form-control border-dark answers" rows="3" th:text="${answers.get(2).content}"
                                          name="answer3" placeholder="Answer" style="resize: none"></textarea>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <input type="button" class="btn btn-dark w-100" id="addAnswer" value="add answer"/>
                    </div>
                </div>
                <div class="row my-lg-2 justify-content-between">
                    <div class="col-lg-3">
                        <div class="row">
                            <div class="col">
                                <div th:class="'w-100 drop-area'+${(action.equals('update')&&taskImages.size()>=1)?' border-0':''}">
                                    <img class="w-100 h-100 rounded"
                                         th:if="${action.equals('update')&&taskImages.size()>=1}"
                                         th:src="${taskImages.get(0).url}"/>
                                </div>
                            </div>
                        </div>
                        <div class="row justify-content-end">
                            <div class="col">
                                <label class="btn btn-dark btn-sm w-100" for="fileElem1">Select a file</label>
                                <input type="file" accept="image/*" class="fileElem" name="file1" id="fileElem1">
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3">
                        <div class="row">
                            <div class="col">
                                <div th:class="'w-100 drop-area'+${(action.equals('update')&&taskImages.size()>=2)?' border-0':''}">
                                    <img class="w-100 h-100 rounded"
                                         th:if="${action.equals('update')&&taskImages.size()>=2}"
                                         th:src="${taskImages.get(1).url}"/>
                                </div>
                            </div>
                        </div>
                        <div class="row justify-content-end">
                            <div class="col">
                                <label class="btn btn-dark btn-sm w-100" for="fileElem2">Select a file</label>
                                <input type="file" accept="image/*" class="fileElem" name="file2" id="fileElem2">
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3">
                        <div class="row">
                            <div class="col">
                                <div th:class="'w-100 drop-area'+${(action.equals('update')&&taskImages.size()==3)?' border-0':''}">
                                    <img class="w-100 h-100 rounded"
                                         th:if="${action.equals('update')&&taskImages.size()==3}"
                                         th:src="${taskImages.get(2).url}"/>
                                </div>
                            </div>
                        </div>
                        <div class="row justify-content-end">
                            <div class="col">
                                <label class="btn btn-dark btn-sm w-100" for="fileElem3">Select a file</label>
                                <input type="file" accept="image/*" class="fileElem" name="file3" id="fileElem3">
                            </div>
                        </div>
                    </div>
                </div>

            </div>
            <div class="col-lg-6 my-lg-0">
                <div class="row mt-lg-2">
                    <div class="col-lg-3">
                        <button type="button" class="btn btn-outline-dark btn-sm h1">
                            <b>H1</b>
                        </button>
                        <button type="button" class="btn btn-outline-dark btn-sm h2">
                            <b>H2</b>
                        </button>
                        <button type="button" class="btn btn-outline-dark btn-sm h3">
                            <b>H3</b>
                        </button>
                    </div>
                    <div class="col-lg-2">
                        <button type="button" class="btn btn-outline-dark btn-sm bold">
                            <span class="fas fa-bold"></span>
                        </button>
                        <button type="button" class="btn btn-outline-dark btn-sm italic">
                            <span class="fas fa-italic"></span>
                        </button>
                    </div>
                    <div class="col-lg-2">
                        <button type="button" class="btn btn-outline-dark btn-sm list-ul">
                            <span class="fas fa-list-ul"></span>
                        </button>
                        <button type="button" class="btn btn-outline-dark btn-sm list-ol">
                            <span class="fas fa-list-ol"></span>
                        </button>
                    </div>
                    <div class="col-lg-2">
                        <button type="button" class="btn btn-outline-dark btn-sm link">
                            <span class="fas fa-link"></span>
                        </button>
                        <button type="button" class="btn btn-outline-dark btn-sm image">
                            <span class="fas fa-image"></span>
                        </button>
                    </div>
                    <div class="col-lg-3">
                        <button type="button" class="btn btn-outline-dark btn-sm edit">
                            <div><span class="fas fa-pencil-alt"></span>Edit</div>
                        </button>
                        <button type="button" class="btn btn-outline-dark btn-sm preview">
                            <div><span class="far fa-eye"></span>Preview</div>
                        </button>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <textarea id="md-editor" class="form-control border-dark" rows="18" name="content"
                                  placeholder="Content" style="resize: none"
                                  th:text="${action.equals('update')?task.content:''}"></textarea>
                        <div class="md-preview border border-dark rounded" style="overflow: auto"></div>
                    </div>
                </div>
            </div>
        </div>
        <hr>
        <div class="row justify-content-end">
            <div class="col mb-lg-3">
               <input class="btn btn-dark w-100" type="submit" th:value="${action}"/>
            </div>
        </div>
    </div>
</form>
<script type="text/javascript" src="/js/add-answer.js"></script>
<script type="text/javascript" src="/js/drag-and-drop-upload.js"></script>
<script type="text/javascript" src="/js/markdown-core.js"></script>
<script type="text/javascript" src="/js/logout.js"></script>
<script type="text/javascript" src="/js/input-tags.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ"
        crossorigin="anonymous"></script>
</body>
</html>