<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="csrf-token" th:content="${_csrf.getToken()}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU"
          crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"
            integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <title>Greeting</title>
</head>
<body>
<style>
    .checked{
        color: orangered;
    }
</style>
<div class="modal fade" id="loginModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Sign in with:</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="container-fluid">
                    <div class="row my-lg-2 my-1">
                        <a class="btn btn-dark" th:href="@{/oauth2/authorization/google}">google</a>
                    </div>
                    <div class="row my-lg-2 my-1">
                        <a class="btn btn-dark" th:href="@{/oauth2/authorization/github}">github</a>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
<nav class="navbar navbar-expand-lg sticky-top navbar-light" style="background-color: orangered">
    <div class="container-fluid">
        <a class="navbar-brand" th:href="@{/}">MathTasks</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse justify-content-between" id="navbarSupportedContent">
                <form th:method="get" th:action="@{/search}" class="d-flex my-2">
                    <input class="form-control me-2" type="search" placeholder="Search" name="search"
                           aria-label="Search">
                    <input class="btn btn-outline-dark" type="submit" value="Search"/>
                </form>
            <div sec:authorize="!isAuthenticated">
                <button type="button" class="btn btn-outline-dark my-2" data-bs-toggle="modal" data-bs-target="#loginModal">
                    Log in
                </button>
            </div>
            <div sec:authorize="isAuthenticated">
                <a class="btn btn-outline-dark my-2" href="#" onclick="logout()">Log out</a>
            </div>
        </div>
    </div>
</nav>
<div class="container-fluid">
    <div class="row mt-3">
        <div class="col-lg-6 p-1">
            <h5>Последние опубликованные задачи:</h5>
            <a class="btn btn-outline-dark w-100" th:href="@{/task/{id}(id=${task.id})}" th:each="task:${lastPublished}">
                <h6 class="text-truncate my-0" th:text="${task.name}"></h6>
                <p class="small my-0" th:text="${task.theme.name}"></p>
                <div>
                    <span class="fa fa-star" th:classappend="${task.rating>=0.5}?'checked':''"></span>
                    <span class="fa fa-star" th:classappend="${task.rating>=1.5}?'checked':''"></span>
                    <span class="fa fa-star" th:classappend="${task.rating>=2.5}?'checked':''"></span>
                    <span class="fa fa-star" th:classappend="${task.rating>=3.5}?'checked':''"></span>
                    <span class="fa fa-star" th:classappend="${task.rating>=4.5}?'checked':''"></span>
                </div>
            </a>
        </div>
        <div class="col-lg-6 p-1">
            <h5>Популярные задачи:</h5>
            <a class="btn btn-outline-dark w-100" th:href="@{/task/{id}(id=${task.id})}" th:each="task:${topRating}">
                <h6 class="text-truncate my-0" th:text="${task.name}"></h6>
                <p class="small my-0" th:text="${task.theme.name}"></p>
                <div>
                    <span class="fa fa-star" th:classappend="${task.rating>=0.5}?'checked':''"></span>
                    <span class="fa fa-star" th:classappend="${task.rating>=1.5}?'checked':''"></span>
                    <span class="fa fa-star" th:classappend="${task.rating>=2.5}?'checked':''"></span>
                    <span class="fa fa-star" th:classappend="${task.rating>=3.5}?'checked':''"></span>
                    <span class="fa fa-star" th:classappend="${task.rating>=4.5}?'checked':''"></span>
                </div>
            </a>
        </div>
    </div>
    <div class="row mt-1">
        <h5>Последние использованные теги:</h5>
        <div class="col-auto col-lg-auto my-2" th:each="tag:${lastTags}">
            <a class="btn btn-dark btn-sm" href="#" th:text="${tag.name}+' '" style="width: 100%"></a>
        </div>
    </div>
</div>
<script type="text/javascript" src="/js/logout.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ" crossorigin="anonymous"></script>
</body>
</html>